.container {
    display:flex;
    flex-direction: row;
    min-height: 98vh;
}

#game-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

#winner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    font-size: 2rem;
}

.button {
    margin: 25px;
    font-size: 2rem;
}

#to-main-menu-ingame {
    position: absolute;
    bottom: 50px;
}

#current-turn {
    font-size: 2rem;
    align-self: center;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#grid-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-height: 100%;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.cell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 1px;
}

#cell-symbol {
    font-size: 5rem;
    margin: 0;
    line-height: 0;
    user-select: none;
}

.records_container {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color:rgb(196, 196, 196);
    border: 2px solid black;
    border-radius: 50px;
    margin: 5px;
}

.record-text {
    position: absolute;
    top: 50px;
}

#records-table {
    flex: 1;
    display: flex;
    position: absolute;
    top: 100px;
    flex-direction: column;
}

.buttons_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputs {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.player {
    font-size: 2rem;
    text-align: center;
}

.input {
    margin: 10px;
}

.main.button, .search.button {
    margin: 30px;
    font-size: 2rem;
}

#games-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
}

#games-history table {
    text-align: center;
    background-color:aliceblue;
}

#games-history td {
    border: 2px solid black;
}

.close_games_table {
    align-self: center;
    font-size: 2rem;
    width: 250px;
    margin: 25px;
}

.hidden {
    display: none;
}

.flex{
    display: flex;
}